<mat-card [style.marginRight.rem]="2">
  <img mat-card-image [src]='activePlace.imgUrl'>
  <mat-card-content class="list-of-places">
    <mat-list>
      <a mat-list-option *ngFor="let place of places" (click)="setActivePlace(place)" class="place-element">
        <img class="place-image" src="{{place.imgUrl}}" alt="images Text">
  <!--      <h3 matLine> {{place.address}} </h3>-->
        <section matLine class="place-address">
          <p><b>Address:</b> {{place.address}} </p>
          <p class="demo-2"><b>Phone:</b> +{{ place.phone.toString() | slice: 0 : 1}} ({{ place.phone.toString() | slice: 1: 4}}) {{ place.phone.toString() | slice: 4}}</p>
        </section>
      </a>
    </mat-list>
  </mat-card-content>
</mat-card>
