.list-of-places {
  overflow: auto;
  max-height: 45vh;
}

.place-image {
  border-radius: 50%;
  border: .25rem #4aa5a080 solid;
  width: 3.25rem;
  height: 3.25rem;
  margin: .5rem;
  object-fit: cover;
  float: left;
}

.place-element {
  display: block;
  padding: 5px 10px;
  min-height: 4rem;
}

.place-element:hover {
  background-color: #b2ced7;
  cursor: pointer;
}

.place-element.active {
  background-color: #d2eef7;
}

.as-link {
  cursor: pointer;
  display: inline;
  transition: .3s;
}

.as-link:hover {
  color: gray;
}

.as-link:not(:last-child):after {
  content: '';
  border-right: 2px solid gray;
  height: 100%;
  margin: 0 .5rem;
}

.filter-container {
  text-align: center;
  font-size: 1.25rem;
}

